<div class="d-flex justify-content-center" >
<div class="row">
    <div class="col-sm-9 col-md-9">
      <h2 style="text-align: center;">C'est fini le quiz</h2>
      <div class="thumbnail">    
        <div class="caption">
          <h3> Nombre de repnse correcte :{{quizService.correctAnswerCount}}/5</h3>
          <h3> Score :{{score}}</h3>
          <span>Temps pris : {{temps}}</span><br><br>
          <p><button type="button"  class="btn btn-dark"(click)="setHistoryByUser() ;Rejouer()">Rejouer</button></p>
        </div> 
      </div>
    </div>
  </div>

</div>
